<style>
#footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100vw;
  background-color: white;
}

#footer #text {
  width: 100%;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  bottom: 3px;
  text-align: center;
  font-family: 'Annie Use Your Telescope', cursive;
}

#footer a {
  text-decoration: underline;
}

#copyrights {
  margin-right: 30px;
}

.heart {
  color: #64F9FF;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  #footer #text {
    font-size: 10px;
  }
  .heart {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .author {
    display: none;
  }

}

</style>

<div id="footer">

  <div id="text">

    <span id="copyrights">© 2017-2018 KALLISTÉ EGRET ALL RIGHTS RESERVED</span>
    <span class="author">
    <span id="author">Made with <span class="heart">❤</span> by
    <a href="https://benjaminafonso.me">Ben. AFONSO</a>
    </span>
    </span>
  </div>

</div>
