---
layout: default
---

<link rel="stylesheet" type="text/css" href="/styles/style.css">
<link rel="stylesheet" href="/styles/items.css">

<div class="items">

  {% assign projects = (site.projects | sort: 'date') | reverse %}
  {% for project in projects %}
  <a href="{{project.url | site.baseurl}}">
    <div class="item" onclick="void(0)">
      <div class="item-mask">
      </div>
      <div class="item-infos">
        <a href="{{project.url | site.baseurl}}"><div class="item--title">{{ project.title }}</div></a>
        <div class="item--date">{{ project.project_date }}</div>
        {% if project.layout == "video-project" %}
        <a href="{{project.url | site.baseurl}}"> <img class="play-icon" src="/images/assets/play-icon.png"/> </a>
        {% endif %}

      </div>
      <!-- IMAGE -->
      <img src="{{ project.miniatures[0].url }}" alt="{{project.miniatures[0].title}}"/>
    </div>
  </a>
  {% endfor %}
</div>
