---
layout: nil
---

<html>
  <head>
    <title>{{site.title}}</title>


    <style>
      @import url("https://fonts.googleapis.com/css?family=Poiret+One");
      @import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
      @import url('https://fonts.googleapis.com/css?family=Londrina+Shadow');
      @import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
    </style>

    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    {{content}}
  </body>
</html>
